#sidebar-left {
    width: 15%;
    height:700px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
     background-color: yellow;
    border: 0px solid #bcbcbc;
    font-size:10px;
  }

.no-underline{
    text-decoration:none;
 }

 ul>li{
   list-style-type: none;
   font-size:15px;
   margin-bottom: 5px;
 }
